/* PDF Text Layer */
.react-pdf__Page__textContent {
  border: none;
  background: none;
  pointer-events: none;
  user-select: none;
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: scale(1);
}

.react-pdf__Page__textContent span {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

/* PDF Annotation Layer */
.react-pdf__Page__annotations {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transform: scale(1);
  transform-origin: 0 0;
}

.react-pdf__Page__annotations .annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* PDF Canvas */
.react-pdf__Page__canvas {
  display: block;
  user-select: none;
  margin: 0 auto;
  background: white;
}